<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header" class="container">

    <!-- Logo -->
    <div id="logo">
        <h1 th:text="#{menu.title}"></h1>
    </div>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="active"><a href="?pid=nyitolap" th:text="#{menu.item01}"></a></li>
            <li><a href="?pid=alapito" th:text="#{menu.item02}"></a></li>
            <li><a href="?pid=karnagyok" th:text="#{menu.item03}"></a></li>
            <li><a href="?pid=galeria" th:text="#{menu.item04}"></a></li>
            <li><a href="?pid=media" th:text="#{menu.item05}"></a></li>
            <li><a href="?pid=video" th:text="#{menu.item06}"></a></li>
            <li><a href="?pid=repertoar" th:text="#{menu.item07}"></a></li>
            <li><a href="?pid=fellepesek" th:text="#{menu.item08}"></a></li>
            <li><a href="?pid=vendegkonyv" th:text="#{menu.item09}"></a></li>
            <li><a href="?pid=kapcsolat" th:text="#{menu.item10}"></a></li>
        </ul>
    </nav>
</div>
</body>
</html>