<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Stella - Music</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Music</h1>
            <p><a th:href="@{${link}}"><span th:text="${'User: ' + name}"></span></a></p>
            <p th:text="${'Name: ' + family_name + ' ' + given_name}"></p>
            <img src="" th:attr="src=@{${picture}}"/>
            <p th:text="${'Principal: ' + principal}"></p>
            <p th:text="${'tokenType: ' + tokenType}"></p>
            <p th:text="${'tokenValue: ' + tokenValue}"></p>
            <p th:text="${'jsessionid: ' + jsessionid}"></p>
        </div>
    </body>
</html>
