<!DOCTYPE html>
<html lang="hu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
            <title>Stella</title>
                <!--link rel="stylesheet" th:href="@{/style.css}" /-->
            <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
            <script lang="javascript" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}" />
    </head>
    <body>
        <div th:include="fragments/header :: header">Header</div>
        <div layout:fragment="content">Page content goes here</div>
    </body>
</html>