<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stella</title>
    <!--link rel="stylesheet" th:href="@{/style.css}" /-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <script lang="javascript" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}" />
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>
    <h1 th:text="#{homepage.welcome_message}"></h1>
    <p><span th:text="${welcome}"></span><br />
    Jó helyen jársz!</p>
</body>
</html>