<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Stella</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{homepage.welcome_message}"></h1>
            <p><span th:text="${welcome}"></span><br />Jó helyen jársz!</p>
            <h1>Login</h1>
            <div class="container" ng-show="!home.authenticated">
                <div>
                    With Google: <a href="/music/google/callback">click here</a>
                </div>
                <div>
                    With Facebook: <a href="/music/facebook/callback">click here</a>
                </div>
            </div>

        </div>
    </body>
</html>